# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Other files
*.map
*.d
/mdk/DebugConfig/
/mdk/Listings/
/mdk/Objects/
/mdk/lua_stm32.uvguix.*
/mdk/lua_stm32.uvoptx
